.ant-tabs-nav::before {
	bottom: -5px !important;
	border-bottom: 1px solid #4D4868 !important;
}

.ant-tabs-content {
	color: #fff !important;
}

.ant-image {
	margin-right: 10px !important;
}

.ant-tabs-content-holder {
	height: calc(100vh - 200px) !important;
	overflow-y: scroll !important;
}